<div [hidden]="isCreationComplete" class="container">
  <h1>Quiz Creator</h1>
  <form #quizCreator="ngForm" (ngSubmit)="submit(quizCreator.value)">
    <div class="form-group col s12">
      <span><label for="title">Title</label></span>
      <input [(ngModel)]="title" id="title" name="title"
             type="text" class="form-control">
    </div>

    <div class="form-group col s12">
      <span><label for="description">Description</label></span>
      <input [(ngModel)]="description" id="description" name="description"
             type="text" class="form-control">
    </div>

    <div *ngFor="let question of quizQuestions;let i = index" [attr.data-index]="i">
      <question-creator [questionNumber]="i + 1"></question-creator>
    </div>

    <button type="button" (click)="addQuestion()">Add Another Question</button>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<div [hidden]="!isCreationComplete" class="container">
  <quiz-creation-results></quiz-creation-results>
</div>
