<h1 class="quiz-title">{{ quiz.title }}</h1>

<h3 [hidden]="scores.length > 0">
  You've never taken this quiz before! Head back to the quiz page to take it for the first time.
</h3>

<div [hidden]="scores.length < 1" class="recent-attempts-container">
  <h3>Most Recent Attempts:</h3>
  <ul>
    <li *ngFor="let scoreObject of scores">
      <h4>
        {{ scoreObject.correctCount + '/' + (scoreObject.correctCount + scoreObject.incorrectCount) + ': '}}
        <span class="score-percentage"> {{ scoreObject.score*100 + '%' }}</span>
      </h4>
    </li>
  </ul>
</div>

<div [hidden]="scores.length < 1" class="average-score-container">
  <h2>
    Your Average Score (last 10 attempts) for this Quiz:
    <h1>
      <span class="average-percentage">{{ averagePercentage }}</span>
    </h1>
  </h2>
</div>
<br>
<a (click)="callParent()">Back to Quiz</a>


