.score-percentage {
  color: blue;
}

.average-percentage {
  text-align: center;
  color: green;
}

.quiz-title {
  text-decoration: underline;
}
.average-score-container {
  margin: 20px;
  padding: 10px;
  border-style: solid;
  border-color: black;
  border-width: thin;
  width: 50%;
  height: 50%;
  display: inline-block;
  text-align: center;
}

[hidden] {
  display: none !important;
}

