<div class="container">
  <h1>Registration Form</h1>
  <form #registrationForm="ngForm" (ngSubmit)="submit(registrationForm.value)">
    <input type="text" placeholder="Your first name" name="firstName" [(ngModel)]="firstName">
    <input type="text" placeholder="Your last name" name="lastName" [(ngModel)]="lastName">
    <input type="text" placeholder="Your e-mail" name="email" [(ngModel)]="email">
    <input type="text" placeholder="Desired username" name="username" [(ngModel)]="username">
    <input type="text" placeholder="Desired password" name="password" [(ngModel)]="password">
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>



