<div class="container">
  <h1>{{ firstName }}'s Friends</h1>
  <div class="user-friends-container">
    <h4 [hidden]="friendList.length >= 1">How sad... you haven't made any friends yet! Search below to find some.</h4>
    <ul>
      <li *ngFor="let friend of friendList">
        <a routerLink="{{ '//user-profile/' + friend.id }}" >{{ friend.username }}</a>
      </li>
    </ul>
  </div>
  <div class="find-friends-container">
    <h3>Find new friends!</h3>
    <form #formCtrl="ngForm">
      <input type="text" placeholder="Find username"
             [(ngModel)]="userSearchString"
             name="userSearchString"
             #userSearchInput
             required />
      <button [disabled]="userSearchString === ''" type="btn"
              (click)="search(userSearchInput.value)">Go!</button>
    </form>

    <div class="user-search-results">
      <ul>
        <li *ngFor="let user of userSearchResults">
          <a routerLink="{{ '//user-profile/' + user.id }}" >{{ user.username }}</a>
          <span [hidden]="!user.added"
                class="add-friend-success-text">
            {{ addFriendSuccessText }}
          </span>
          <button class="add-friend-button"
                  type="btn btn-sm"
                  (click)="addFriend(user)">
            Add Friend
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>


